/**********************************************
*** © Linguagens Script > DEIS > ISEC > IPC 
*** Jogo de Memória em React
*** Estilos Index.js
**********************************************/

:root {
  --globalColor: rgb(21, 5, 120);
  --messageColor: rgb(11, 11, 241);
  --boxshadow0: 0px 0px 0px;
  --top10Color: #404487;
  --gameOverColor: #404487;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(68, 157, 209), rgba(120, 192, 224)) fixed;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  justify-content: center;
}

select,
label,
dd,
button {
  padding: 5px;
  border-radius: 5px;
}

select,
button {
  cursor: pointer;
}
